/* css landingpage */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2563eb;
}

/* section.bg-gradient-to-r {
    background: linear-gradient(to right, rgba(72, 101, 128, 0.8), rgba(51, 86, 151, 0.8)),
        url('https://www.mpmhondajatim.com/assets/uploads/files/blog_foto/1681291186_01gfjd3xmxdkx4gfskb306xfht.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-bottom: 255px;
    color: #fff;
}

#layanan.py-20 {
    padding-top: 30px;
    padding-bottom: 25px;
}

#fitur.py-20 {
    padding-top: 30px;
    padding-bottom: 10px;
} */
