/* css landingpage */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2563eb;
}

/* media-partner section start */
#media-partner{
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: "Raleway", Sans-serif;
}

#media-partner.display-3 {
  margin-top: 50px;
  font-size: 45px;
}
/* media-partner section end */

/* logo media-partner section start */
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos-slide {
    display: inline-block;
    animation: 10s slide infinite linear;
  }

  .logos-slide img {
    height: 50px;
    margin: 0 50px;
  }
/* logo media-partner section end */
